body {
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', '\9ED1\4F53', Arial, sans-serif;
}

.auth-item {
  margin-bottom: 50px;
}

.markdown-table .ant-table table {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

.main-content::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

.main-menu::-webkit-scrollbar-track-piece {
  background-color: #2a2b3c;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.main-menu::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  background-clip: padding-box;
  min-height: 28px;
}

.main-menu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.65);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

/**
* markdown-body
*/
.markdown-body {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body::before {
  display: table;
  content: '';
}

.markdown-body::after {
  display: table;
  clear: both;
  content: '';
}

.markdown-body > *:first-child {
  margin-top: 0 !important;
}

.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.markdown-body h1:first-child {
  margin-top: 0;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
  font-size: inherit;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: 0.875em;
}

.markdown-body h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li {
  word-wrap: break-all;
}

.markdown-body li > p {
  margin-top: 16px;
}

.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table:not(.params-table) tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body table img {
  background-color: transparent;
}

.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.markdown-body img[align='right'] {
  padding-left: 20px;
}

.markdown-body img[align='left'] {
  padding-right: 20px;
}

.markdown-body code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  color: black;
  background-color: #f5f2f0;
  text-shadow: 0 1px white;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  font-size: 85%;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.markdown-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.markdown-body code br,
.markdown-body tt br {
  display: none;
}

.markdown-body del code {
  text-decoration: inherit;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown-body pre code,
.markdown-body pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

/**
* spinner
*/
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #33b5ff;
  border-bottom-color: #33b5ff;
  animation: spinner 0.8s ease infinite;
}

/**
* Main
*/
#root {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.main-body {
  /* margin-top: 66px; */
  flex: 1;
  position: relative;
  display: flex;
}

.main-menu {
  /* position: fixed; */
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 256px;
  min-width: 256px;
  z-index: 10;
}

.main-menu > .ant-menu {
  min-height: 100%;
  padding-bottom: 40px;
  padding-top: 32px;
}

/**
* Header
*/
.main-header {
  position: relative;
  z-index: 10;
  background: #fff;
  height: 66px;
  display: flex;
  width: 100%;
  padding: 0 40px 0 24px;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}

.main-header .ant-tag {
  margin: 0;
}

.logo {
  width: 256px;
  display: flex;
  align-items: center;
}

.logo > img {
  margin: 0 8px 0 0;
  width: 32px;
  height: 32px;
}

.logo > h1.title {
  font-size: 18px;
  color: #222222;
  font-weight: normal;
  margin: 0;
}

.search-form {
  flex: 1;
  margin: 0 40px 0;
}

.search-form .ant-input {
  max-width: 650px;
}

/**
* Content
*/
.main-content {
  position: absolute;
  top: 0;
  left: 256px;
  bottom: 0;
  right: 0;
  padding: 40px;
  flex: 1;
  overflow: auto;
  font-size: 16px;
}

.main-content > article {
  min-width: 600px;
}

h1.page-title {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 0.3em;
  margin-bottom: 16px;
}

.header-title h1.page-title {
  margin-bottom: 12px;
}

.page-header .header-title {
  display: flex;
  align-content: center;
}

.header-title .method-tag {
  margin-left: 10px;
  position: relative;
  top: 5px;
}

.method-GET {
  background-color: #6cc788;
  color: #ffffff;
}

.method-POST {
  background-color: #6887ff;
  color: #ffffff;
}

.method-PUT {
  background-color: #a88add;
  color: #ffffff;
}

.method-DELETE {
  background-color: #f44455;
  color: #ffffff;
}

.page-header,
.requset-path,
.params-form {
  margin-bottom: 40px;
}

.page-header .scope {
  display: flex;
}

.page-header .scope .scope-item {
  margin-right: 20px;
}

.description {
  margin-top: 15px;
}
.description .markdown-body {
  font-size: 14px;
}

table.params-table {
  display: table;
  width: 100%;
  border: none;
  font-size: 14px;
}

.params-table thead tr {
  border: none;
}

.params-table thead th {
  background-color: #eceff1;
  padding: 12px 23px;
  font-size: 14px;
  border: none;
  white-space: nowrap;
}

.params-table tbody .markdown-body {
  font-size: 14px;
}

.params-table tbody tr {
  border: none;
}

.params-table tbody td {
  vertical-align: top;
  padding: 12px 23px;
  border: none;
}

.params-table tbody td:not(:first-child) {
  border-bottom: 1px solid #e0e0e0;
}

.params-table tbody tr:not(.param-schema):hover td:not(:first-child) {
  background-color: #e1f5fe;
}

/* .params-table tbody td.params-name {
  position: relative;
  padding: 13px 0;
  border-left: 1px solid rgba(0, 51, 160, 0.5);
  white-space: nowrap;
} */

/* .params-name-content {
  display: inline-block;
  padding-right: 24px;
  color: #263238;
} */

/* .params-name-content:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: #0033a0;
  margin: 0 11px;
  vertical-align: middle;
} */

/* .params-name-content:after {
  content: '';
  position: absolute;
  border-top: 1px solid rgba(0, 51, 160, 0.5);
  width: 11px;
  left: 0;
  top: 24px;
} */

/* tr:first-of-type > .params-name:before {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  top: 0;
  border-left: 2px solid #fff;
  height: 24px;
} */

/* tr:last-of-type > .params-name:after {
  content: '';
  display: block;
  position: absolute;
  left: -2px;
  border-left: 2px solid #fff;
  top: 25px;
  background-color: #fff;
  bottom: 0;
} */

.valid-value {
  align-items: center;
  border-radius: 3px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 14px;
  height: 24px;
  justify-content: center;
  padding-left: 0.3em;
  padding-right: 0.3em;
  white-space: nowrap;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  color: #78909c;
  margin: 2px 5px;
}

.tag-yes {
  align-items: center;
  border-radius: 10px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 12px;
  justify-content: center;
  width: 34px;
  white-space: nowrap;
  border: 1px solid #cbe2f4;
  background-color: #ffffff;
  color: #277ead;
}

.tag-no {
  align-items: center;
  border-radius: 10px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 12px;
  justify-content: center;
  width: 34px;
  white-space: nowrap;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  color: #a8a8a8;
}

/**
* TreeView
*/
.params-wrap {
  width: 100%;
  border-spacing: 0;
  line-height: 1.55em;
}

.params-wrap.params-array:before {
  content: 'Array [';
  padding-top: 1em;
  font-family: monospace;
}

.params-wrap.params-array:after {
  content: ']';
  font-family: monospace;
}

.param:first-of-type > .param-name::before {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  top: 0;
  border-left: 2px solid #fff;
  height: 24px;
}

.param:last-of-type > .param-name::after,
.param.last > .param-name::after {
  content: '';
  display: block;
  position: absolute;
  left: -2px;
  border-left: 2px solid #fff;
  top: 25px;
  background-color: #fff;
  bottom: 0;
}

.param.complex + .param-schema {
  display: none;
}

.param.complex.expanded + .param-schema {
  display: table-row;
}

.param.complex > .param-name > .param-name-wrap {
  cursor: pointer;
}

.param.complex > .param-name > .param-name-wrap > .param-name-content {
  color: #000000;
}

.param.complex > .param-name > .param-name-wrap > .anticon {
  color: #000000;
  transition: all 0.3s ease;
}

.param.complex.expanded > .param-name > .param-name-wrap > .anticon {
  transform: rotate(180deg);
}

.params-table tbody td.param-name {
  position: relative;
  padding: 13px 0;
  border-left: 1px solid rgba(0, 51, 160, 0.5);
  white-space: nowrap;
}

.param-name-content {
  display: inline-block;
  padding-right: 24px;
  color: #263238;
}

.param-name-content::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: #0033a0;
  margin: 0 11px;
  vertical-align: middle;
}

.param-name-content::after {
  content: '';
  position: absolute;
  border-top: 1px solid rgba(0, 51, 160, 0.5);
  width: 11px;
  left: 0;
  top: 24px;
}

.param-info {
  white-space: nowrap;
}

.param-type.array::before {
  content: 'Array of ';
  color: #263238;
  font-weight: 300;
}

.params-table .param-schema > td {
  border-left: 1px solid rgba(0, 51, 160, 0.5);
  padding: 18px 0 18px 12px;
}

.param.last + .param-schema > td {
  border-left: none;
}

.params-table .param-schema > td > .param-schema-general {
  position: relative;
  padding: 16px 10px 18px;
  border: 1px solid #efefef;
  border-left: 4px solid #0cc2aa;
}

.last-nest {
  box-shadow: 0 8px 17px 0 rgba(215, 215, 215, 0.75);
}

.params-table .param-schema .param:first-of-type > .param-name::before {
  background-color: #fff;
  border-color: #fff;
}

.params-table .param-schema .param:last-of-type > .param-name::after,
.params-table .param-schema .param.last > .param-name::after {
  background-color: #fff;
  border-color: #fff;
}

.params-table .param-schema .param-schema > td > .param-schema-general {
  background: #ffffff;
}

.params-table .param-schema .param-schema .param:first-of-type > .param-name::before {
  background-color: #ffffff;
  border-color: #ffffff;
}

.params-table .param-schema .param-schema .param:last-of-type > .param-name::after,
.params-table .param-schema .param-schema .param.last > .param-name::after {
  background-color: #ffffff;
  border-color: #ffffff;
}

.param-range {
  position: relative;
  font-size: 12px;
  top: 1px;
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 2px;
  background-color: #e1f5fe;
  padding: 0 4px;
  color: #277ead;
}

.param-pattern {
  color: #3195a6;
  white-space: nowrap;
}

.param-pattern::before,
.param-pattern::after {
  content: '/';
  margin: 0 3px;
  font-size: 1.2em;
  font-weight: bold;
  vertical-align: bottom;
}

.ant-collapse-content {
  padding: 0;
}

.ant-collapse-header:hover {
  background-color: #e1f5fe;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #2a2b3c;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #242534;
  box-shadow: none;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: #1e1f2b;
}

.ant-menu-dark .ant-menu-submenu-selected {
  background: #2196f3;
}

.ant-tag {
  cursor: default;
}
